* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    padding: 0 150px;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero,
.footer,
.sign-up {
    color:#F9FAF8;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

.header ul {
    display:flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
}

a,
.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-body {
    display:flex;
    margin: 70px 0 80px 0;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero-body img {
    width: 400px;
    height: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 950;
}

.hero-second {
    margin: 10px 0;
}

button {
    padding: 8px 25px;
    border-radius: 5px;
    color: inherit;
    font-weight: bold;
}

.hero button {
    border:none;
}

.sign-up button {
    border:2px solid #F9FAF8;
    background-color: #3882F6;
}

.hero-body button,
.sign-up {
    background-color: #3882F6;
}

.body {
    flex:1;
    display:flex;
    flex-direction:column;
}

.info {
    text-align: center;
    margin-top:50px;
    margin-bottom:100px;
}

.info-title {
    font-size: 36px;
    font-weight:950;
    color: #1F2937;
    margin-bottom: 20px;
}

.info-body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-info {
    width:200px;
}

.quotes-cont {
    display:flex;
    background-color: #E5E7EB;
    padding: 50px 0;
}

.quotes {
    margin: 0 auto;
}

.quotes p {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 10px;
}

.quotes div {
    text-align: right;
    font-weight: bold;
}

.sign-up {
    margin: 50px 150px;
    border-radius: 10px;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.call {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer {
    display:flex;
    padding: 30px;
    justify-content: center;
}
